* {
  margin: 20px;
  padding: 0;
}
.option1 {
  width: 1280;
  height: 560;
  background-color: aquamarine;
  display: flex;
  padding: 50px;
  border-radius: 30px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
}
.write1 {
  font-size: 53px;
}
.btn {
  padding: 15px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: rgb(85, 224, 85);
  border: none;
}
button:hover {
  background-color: chartreuse;
  transform: scale(1.1);
  cursor: pointer;
  border: none;
}
.small_tag {
  color: cadetblue;
}

.option2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.write2 {
  font-weight: bolder;
  font-size: 40px;
}
.div_1 {
  background-color: #5490f5;
  border-radius: 30px;
}
.div_2 {
  background-color: #09a15c;
  border-radius: 30px;
}
.card_logo1 {
  width: 35%;
}
.div_3 {
  background-color: #f7ebcf;
  border-radius: 30px;
}
.main_1 {
  display: flex;
  /* justify-items: center; */
  justify-content: space-between;
}

.option3 {
  background-image: url(Images/fi_2087863.png);
  background-repeat: no-repeat;
}

.fonte {
  /* padding-left: 5px; */
  margin-left: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.p2 {
  color: darkgrey;
  font: 400;
  font-size: large;
}

.option4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div_4 {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pic3 {
  border-radius: 30px;
}

.date {
  display: flex;
}

.option5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  background-color: white;
}

.option6 {
  text-align: center;
}

.lastp {
  font-size: 37px;
}

.card {
  width: 242px;
  height: 118px;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 700;
}

.plch {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  background: rgb(252, 251, 251);
}
.plch:hover {
  background-color: rgb(206, 235, 177);
  transform: scale(1.1);
  cursor: pointer;
}

.option7 {
  text-align: center;
  background-color: #c6e4d6;
  padding: 15px;
  border-radius: 30px;
}

.plche {
  width: 80%;
  padding: 15px;
  border: none;
  background: rgb(252, 251, 251);
  border-radius: 5px;
  border: none;
}

.div7 {
  display: flex;
}
