* {
  margin: 20px;
  padding: 0;
}
.option1 {
  width: 1280;
  height: 560;
  background-color: aquamarine;
  display: flex;
  padding: 50px;
  border-radius: 30px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  background-color: #2ac7a0;
}
.write1 {
  font-size: 53px;
}
.btn {
  padding: 15px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: rgb(85, 224, 85);
  border: none;
}
button:hover {
  background-color: chartreuse;
  transform: scale(1.1);
  cursor: pointer;
  border: none;
}
.small_tag {
  color: cadetblue;
}

.option2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(250, 250, 250, 0.918);
}

.write2 {
  font-weight: bolder;
  font-size: 40px;
}
.div_1 {
  background-color: #5490f5;
  border-radius: 30px;
}
.div_2 {
  background-color: #09a15c;
  border-radius: 30px;
}
.card_logo1 {
  width: 35%;
}
.div_3 {
  background-color: #f7ebcf;
  border-radius: 30px;
}
.main_1 {
  display: flex;
  /* justify-items: center; */
  justify-content: space-between;
}

.option3 {
  background-image: url(Images/fi_2087863.png);
  background-repeat: no-repeat;
  background-color: rgba(250, 250, 250, 0.918);
}

.fonte {
  /* padding-left: 5px; */
  margin-left: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.p2 {
  color: darkgrey;
  font: 400;
  font-size: large;
}

.option4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(250, 250, 250, 0.918);
}

.div_4 {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pic3 {
  border-radius: 30px;
}
.pic4 {
  border-radius: 30px;
  width: 90%;
}

.date {
  display: flex;
}

.write8 {
  font-size: 17px;
  color: #747776;
}

.option5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  background-color: rgba(250, 250, 250, 0.918);
}

.option6 {
  text-align: center;
}

.lastp {
  font-size: 37px;
}

.card {
  width: 242px;
  height: 118px;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 700;
}

.plch {
  width: 100%;
  padding: 15px;
  text-align: center;
  border: none;
  background: rgb(207, 207, 245);
}

.plch:hover {
  background-color: rgb(206, 235, 177);
  transform: scale(1.1);
  cursor: pointer;
}

.option7 {
  text-align: center;
  background-color: #c6e4d6;
  padding: 15px;
  border-radius: 30px;
}

.plche {
  width: 90%;
  padding: 15px;
  border: none;
  background: rgb(252, 251, 251);
}

.div7 {
  display: flex;
  position: relative;
}

.div7:hover {
  direction: inherit;
}

.btn1 {
  padding: 15px;
  border-radius: 0px 5px 5px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: rgb(85, 224, 85);
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
